<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>NN Investimentos</title>
    <style>
      body {
        background-color: #ddd;
        font-family: Times;
      }
      form {
        width: 100%;
      }
      a {
        text-decoration: none;
      }
      a:link {
        color: black;
      }
      a:visited {
        color: black;
      }
      a:hover {
        color: black;
      }
      a:active {
        color: black;
      }
      #corpo {
        margin: auto;
        width: 60%;
        background-color: #fefefe;
        padding: 1px 30px 30px 30px;
      }
      #nn_invest {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
      }
      .nome_modulo {
        font-size: 16px;
        font-weight: bold;
      }

      .form_label {
        text-align: right;
        font-size: 16px;
      }
      .form_dado_leitura {
        background-color: #f2f2f2;
        border: 1px solid gray;
        padding: 2px;
      }
      .form_dado_numero {
        text-align: right;
      }

      .form_label_subtabela {
        font-style: italic;
        text-align: center;
        font-size: 14px;
      }
      .form_label_subtabela_tot {
        font-style: italic;
        text-align: right;
        font-size: 14px;
      }

      .listar_linha_cabecalho {
        font-style: italic;
        font-size: 16px;
        background-color: #f7f7f7;
      }
      .listar_cabecalho_selec {
        background-color: white;
      }
      .listar_cel {
        border: 1px solid black;
        padding: 1px 4px;
      }
      .listar_cel_num {
        border: 1px solid black;
        padding: 1px 4px;
        text-align: right;
      }
      .listar_cel_seta {
        border: 1px solid black;
        padding: 1px 4px;
        color: transparent;
      }
      .listar_linha {
        font-size: 15px;
        cursor: pointer;
      }
      .listar_linha:hover {
        background-color: lightyellow;
      }
      .listar_linha_rodape {
        font-size: 12px;
        font-style: italic;
      }
      .filtro_tabela {
        border: 1px dotted gray;
        padding: 2px 10px;
        font-size: 14px;
      }
      .fitro_titulo {
        font-style: italic;
        font-weight: bold;
      }

    </style>
  </head>
  <body>
    <div id="corpo">
      <p id="nn_invest"><a href="/">NN Investimentos v0.5</a></p>
<%- body %>
    </div>
  </body>
</html>
