<%- contentFor('body') %>
      <p class="nome_modulo">Pessoal</p>
      <ul>
        <li><a href="/pessoas/listar">Pessoas</a></li>
      </ul>
      <p class="nome_modulo">Financeiro</p>
      <ul>
        <li><a href="/bancos/listar">Bancos</a></li>
        <li><a href="/contas/listar">Contas</a></li>
      </ul>
      <p class="nome_modulo">Investimentos</p>
      <div style="margin-left: 30px">
        <p class="nome_modulo">Aplicação</p>
        <ul>
          <li><a href="/aplicacoes/listar">Aplicações</a></li>
        </ul>
        <p class="nome_modulo">Operações</p>
        <ul>
          <li><a href="/depositar/listar">Depositar</a></li>
          <li><a href="/transferir/listar">Transferir</a></li>
          <li>Aplicar</li>
          <li>Resgatar</li>
        </ul>
        <p class="nome_modulo">Rendimentos</p>
        <ul>
          <li>Poupança</li>
          <li>Título Renda Fixa</li>
          <li>Fundo de Investimento</li>
          <li>Ação</li>
          <li>FII</li>
        </ul>
        <p class="nome_modulo">Livro Diário</p>
        <ul>
          <li><a href="/lancamentos/operacoes/listar">Operação</a></li>
          <li><a href="/lancamentos/listar">Lançamentos</a></li>
        </ul>
      </div>
