<%- contentFor('body') %>
      <p class="nome_modulo">Pessoal</p>
      <ul>
        <li><a href="/pessoas/listar">Pessoas</a></li>
      </ul>
      <p class="nome_modulo">Financeiro</p>
      <ul>
        <li><a href="/bancos/listar">Bancos</a></li>
        <li><a href="/contas/listar">Contas</a></li>
      </ul>
      <p class="nome_modulo">Investimentos</p>
      <div style="margin-left: 30px">
        <p class="nome_modulo">Aplicação</p>
        <ul>
          <li><a href="/aplicacoes/listar">Aplicações</a></li>
        </ul>
        <p class="nome_modulo">Operações</p>
        <ul>
          <li><a href="/depositar/listar">Depositar</a></li>
          <li><a href="/transferir/listar">Transferir</a></li>
          <li>Aplicar (não implementado)</li>
          <li>Resgatar (não implementado)</li>
        </ul>
        <p class="nome_modulo">Rendimentos</p>
        <ul>
          <li>Poupança (não implementado)</li>
          <li>Título Renda Fixa (não implementado)</li>
          <li>Fundo de Investimento (não implementado)</li>
          <li>Ação (não implementado)</li>
          <li>FII (não implementado)</li>
        </ul>
        <p class="nome_modulo">Livro Diário</p>
        <ul>
          <li><a href="/lancamentos/listar">Lançamentos</a></li>
        </ul>
      </div>
